body{
    font-size: 1.3rem;
}

.center-text {
    text-align: center;
}

.select {
    width: 20%;
    margin: 0 auto;
}

.dropdown {
    border-radius: 5px;
}

.dropdown,
.default {
    border: 2px solid lightgray;
    border-radius: 5px;
}

.default {
    margin-bottom: 0.1rem;
    height: 2rem;
}

.arrow-up {
    color: gray;
}

.focus-border {
    border-color: skyblue;
    -webkit-box-shadow: 0 0 5px skyblue;
    box-shadow: 0 0 5px skyblue;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.dropdown div {
    height: 2rem;
}

.dropdown div:hover {
    background-color: skyblue;
}

span {
    display: inline-block;
    margin-right: 1rem;
    margin-left: 0.4rem
}

.arrow-up {
    float: right;
}

.hide {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .select {
      width: 25%;
    }
  }

  @media only screen and (max-width: 750px) {
    .select {
      width: 40%;
    }
    .green,
    .blue,
    .orange,
    .red {
        font-size: .9rem;
    }
    body {
        font-size: 1.2rem;
    }
  }

  @media only screen and (max-width: 460px) {
    .select {
      width: 80%;
    }
  }